.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.about-text {
  flex: 1;
}

.about-text p {
  margin-bottom: 15px;
  line-height: 1.7;
  color: var(--color-text);
  font-size: 1.1em;
}

@media screen and (max-width: 992px){
  .about-content {
    flex-direction: column;
  }
  .about-text p {
    text-align: center;
  }
}